fieldset {
    border: 5px double black;
    width: 530px;
    height: 600px;

    margin-left: 400px;

}

body {
    background: #aaff80;
}

fieldset {
    background: rgb(8, 221, 8);
}

#agreement {
    position: absolute;
    margin-top: 20px;
    left: 553px;
}